.footer {
  padding: 39px 20px 20px;

  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 37px 60px 34px;
  }

  @media (min-width: @desktop-width) {
    padding: 37px 120px 34px;
  }
}

.footer--catalog {
  padding-top: 27px;
}

.footer--catalog .footer__copyright {
  @media (min-width: @tablet-width) {
    margin-right: 0;
  }
}

.footer--catalog .footer__social {
  @media (min-width: @tablet-width) {
    margin: 0 0 0 -10px;
  }
}

.footer--form {
  padding: 33px 20px 20px;

  @media (min-width: @tablet-width) {
    padding: 33px 45px 36px;
  }

  @media (min-width: @desktop-width) {
    padding: 37px 120px 34px;
  }
}

.footer__appeal {
  display: inline-block;
  margin-bottom: 34px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.footer--form .footer__appeal {
  @media (min-width: @tablet-width) {
    margin-left: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.footer__appeal:hover,
.footer__appeal:focus {
  opacity: 0.6;
}

.footer__appeal:active {
  opacity: 0.3;
}

.footer__social {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin: 0 0 0 10px;
  }
}

.footer--form .footer__social {
  @media (min-width: @tablet-width) {
    margin-left: -10px;
  }
}

.footer__copyright {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: 768px) {
    margin-right: 16px;
  }
}

.footer--form .footer__copyright {
  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.footer__copyright-text {
  margin-right: 10px;
}

.footer__copyright svg {
  fill: currentColor;
}

.footer__copyright:hover,
.footer__copyright:focus {
  color: #81b3d2;
}

.footer__copyright:active {
  color: #b3b3b3;
}
