.footer {
  padding: 30px 20px 20px;

  text-align: center;
}

.footer__appeal {
  display: inline-block;
  margin-bottom: 34px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__social {
  margin-bottom: 34px;
}

.footer__copyright {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__copyright-text {
  margin-right: 10px;
}

.footer__copyright svg {
  fill: currentColor;
}

.footer__copyright:hover,
.footer__copyright:focus {
  color: #81b3d2;
}

.footer__copyright:active {
  color: #b3b3b3;
}
