.navigation__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;

  display: block;
  width: 185px;
  height: 96px;

  transform: translateX(-50%);
}

.navigation__logo[href="index.html"]:hover {
  opacity: 0.8;
}

.navigation__logo[href="index.html"]:focus {
  opacity: 0.8;
}

.navigation__logo[href="index.html"]:active {
  opacity: 0.3;
}

.navigation__list {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  display: none;

  background-color: #81b3d2;

  @media (min-width: @tablet-width) {
    position: static;

    display: grid;

    background-color: #ffffff;

    grid-template-columns: repeat(4, auto);
  }
}

.navigation__list::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 7px;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.navigation__item {
  text-align: center;

  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @media (min-width: @tablet-width) {
    width: 153px;

    box-shadow: none;
  }

  @media (min-width: @desktop-width) {
    width: 239px;
  }

  &:nth-child(4n-2) {
    @media (min-width: @tablet-width) {
      margin-right: 76px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 120px;
    }
  }

  &:nth-child(4n-1) {
    @media (min-width: @tablet-width) {
      margin-left: 76px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 120px;
    }
  }
}

.navigation__link {
  display: block;
  padding-top: 18px;
  padding-bottom: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
}

.navigation__link:hover,
.navigation__link:focus {
  @media (max-width: 767px) {
    background-color: #669ec0;
  }

  @media (min-width: @tablet-width) {
    color: #81b3d2;
  }
}

.navigation__link:active {
  opacity: 0.3;

  @media (max-width: 767px) {
    background-color: #5496bd;
  }

  @media (min-width: @tablet-width) {
    color: #000000;
  }
}

.navigation__link--current {
  color: #766357;
}

.navigation__btn {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 11;

  width: 23px;
  height: 22px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.navigation__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 4px;

  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}

.navigation__btn:hover,
.navigation__btn:focus {
  opacity: 0.6;
}

.navigation__btn:active {
  opacity: 0.3;
}

.navigation--opened .navigation__list {
  display: block;
}

.navigation--opened .navigation__btn {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -1px;

    width: 28px;
    height: 4px;

    background-color: #ffffff;
  }

  &::before {
    box-shadow: none;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    opacity: 0.6;
  }

  // &:focus::before,
  // &:focus::after {
  //   opacity: 0.6;
  // }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

.no-js .navigation__btn {
  display: none;
}

.no-js .navigation__list {
  @media (max-width: 767px) {
    position: relative;

    display: block;
  }
}
