.search__title {
  margin: 0 0 28px;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.search__description {
  margin: 0 0 32px;

  text-align: center;
  color: #333333;
  text-transform: uppercase;
}

.search {
  padding: 38px 18px 49px;
}
