.social {
  display: grid;
  justify-content: center;

  gap: 5px;
  grid-template-columns: repeat(3, auto);
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;

  color: #ffffff;

  background-color: #81b3d2;
}

.social__link svg {
  fill: #ffffff;
}
