.video__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: @font-family;
  color: #000000;
  text-transform: uppercase;
}

.video__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: @font-family;
  color: #333333;
  text-transform: uppercase;
}
